/* Global style */
* {
	padding: 0px;
	margin: 0px;
	font-family: 'Kanit', sans-serif;
	color: white;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(64, 73, 91, 0.7);
	height: 120px;
	width: 100%;
	position: fixed;
	-webkit-box-shadow: 0px 7px 68px -2px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 7px 68px -2px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 7px 68px -2px rgba(0, 0, 0, 0.75);
	border-radius: 0px 0px 5px 5px;
}

header img {
	height: 100px;
	width: auto;
}

header p {
	margin: 50px 0px 0px 0px;
	font-size: .75rem;
}

#logged_head {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 120px;
	background-image: url("./images/playrtdbg.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 100vh;
}

#home_info {
	margin: 40px 0px 0px 0px; display : flex;
	flex-direction: column;
	max-width: 600px;
	display: flex;
}

label {
	border: 1px solid #ccc;
	padding: 10px;
	margin: 0 0 10px;
	display: block;
}

#getrolling_form {
	display:flex;
	flex-direction: row;
	justify-content: center;
}

label:hover {
	opacity: .5;
	cursor: pointer;
}

footer {backgroundcolor
	
}

/* Return page style */
.avatar {
	margin: 10px;
	border-radius: 50%;
	border: 1px solid white;
}